.a1{
    padding-bottom: 25px;
background-color: rgb(161, 159, 159);
padding-left: 50px;
margin: 0px;
}
.p1{
font-size: 200px;
color: white;
margin-top: 50px;
margin-bottom:0px

}
.p2{font-size: 50px;
    color: blue;
    margin-top: 0px;
}
.p3{
    width: 550px;
    text-align:justify;
}

.a2{
    
}
.p4{
    font-size: 40px;
    color:blue;
    padding-left: 200px;

}
.p5{
    text-align: left;
    width: 400px;
    text-align:justify;
     font-size: 25px;
    padding-left: 200px;
}
.p6{
    padding-left: 400px;
}
.p7{
    padding-left: 100px;
}
.p8{
    font-size: 40px;
    color:blue;
    padding-left: 200px;
}
.p9{
    width: 350px;
    text-align:justify;
    padding-left: 200px;
     font-size: 25px;
}

.a3{
    width: 907px;
    background-color: rgb(161, 159, 159);
padding-left: 50px;
margin-right: 200px;
height: 650px;
} 
.p10{
    
}
.font{
    border: 1px solid rgb(17, 17, 218);
    background-color: rgb(17, 17, 218);
    width: 200px;
    height: 300px;
    margin: 0px 0px 60px 300px;
    text-align:right; 
    padding-top: 50px;

}
.p11{
    width: 600px;
    text-align:justify;
    margin-bottom: 200px;
    font-size: 25px;
    padding-bottom: 25px;
}
.p12{
    text-align: right;
    margin-top: 50px;
    padding-left: 280px;
    width: 400px;
    padding-bottom: 200px;
    font-size: 40px;
}

.a4{
   
}
.p13{
    padding-left: 200px;
    font-size: 75px;
    color:blue;
    width: 500px;
    text-align:justify;
 
}
.mission{
    border: 1px solid #e0dbdb;
    color: white;
    background-color: blue;
    font-size: 25px;
    width: 150px;
    height: 25px;
    padding: 15px;
    margin-left: 100px;
    text-align: center;
    box-shadow: 100px;
}
.p14{
    padding-left: 200px;
    width: 350px;
    text-align:justify;
    font-size: 25px;
    
    
}
.p15{
    padding-left: 200px;
    width: 400px;
    text-align:justify;
    font-size: 25px;
}
.p16{
    padding-left: 200px;
}

.a5{
    background-color: rgb(161, 159, 159);
padding: 50px;
}
.p17{
    padding-left: 200px;
    width: 700px;
    font-size: 50px;
    color:blue;
    text-align: left;
    padding-top: 50px;
    }
.p18{
    padding-bottom: 25px;
    text-align: center;
    font-size: 25px;
}

.a6{
    padding-left: 300px;
}
.p19{
    padding-right: 300px;
    font-size: 100px;
    color:blue;
    text-align: center;

}
.p20{
    border-radius: 150px;
}
.p21{
    border-radius: 150px; 
}
.p22{
}
.p23{
}
.p24{
    width: 500px;
    text-align:justify;
    font-size: 25px;
}
.p25{
    
}
.p26{

}
.p27{
    width: 500px;
    text-align:justify;
    font-size: 25px;
}

.a7{
    background-color: rgb(161, 159, 159);
padding-left: 100px;
}
.p28{
    font-size: 200px;
color: white;
}
.p29{}
.p30{
    font-size: 50px;
    color:blue;
    text-align: justify;
}
.p31{
    width: 500px;
    text-align:justify;
    font-size: 25px;
    margin-left: 200px
}
.p32{
    padding-left: 100px;
    width: 500px;
    text-align:justify;
    font-size: 25px;
    padding-top:25px
    
}
.p33{
    border: 1px solid blue;
    color: white;
    background-color: blue;
    font-size: 20px;
    width: 100px;
    height: 20px;
    padding: 10px;
    margin-left: 100px;
    text-align: center;
}

.a8{
   
}
.madi{
    width: 400px;
    height: 400px;
    background-color: grey;
    margin: 200px 100px 200px 1000px;
}
.p34{
    color: blue;
    text-align: left;
    font-size:50px;
    margin-right: 400px;
    padding-left: 300px;
}
.p35{
    border-right:  50px;
    padding-left: 250px;
    border-radius: 150px; 
}
.p36{
    text-align: center;
    font-size: 20px;
    color:blue;
}
.p37{
    width: 500px;
    text-align:center;
}
.p38{
    width: 500px;
    text-align:center;
}
.f{
    padding-top: 50px;
    padding-bottom: 25px;
    color: white;
}


